---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Nexo Solutions | Experiencia">
	<Header />
	<main>
		<Experience />
	</main>
	<Footer />
</Layout>